.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    margin: 2rem 0 2rem 0;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.movie-search {
    margin: 2rem 0 4rem 0;
}

.movie-search input {
    width: 70vw;
    border: none;
    height: 2rem;
    border-radius: 5px;
    padding: 5px;
}

input {
    margin-right: 1rem;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lists {
    display: flex;
    align-items: center;
    justify-content: center;
}